{{ define "main" }}
<main id="main">

	<div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

				{{ range .Paginator.Pages }}
				<article class="post">
					<header class="entry-header">
						<div class="entry-meta">
							<span class="posted-on">

							</span>
						</div>
						<h1 class="entry-title">
							{{ .Title }}
						</h1>
					</header>
					<div class="entry-content">
						{{ .Content }}
					</div>
				</article>
				{{ end }}
			</div>
		</div>

		<center class="">
			<ul>

				<div>
					<a class="thumbnail">
						<span class="img">
							<img src="../../images/angulartypescript.svg" alt=""
								style="object-fit: contain; object-position: center; height: 200px; width: 200px;">
							<span class="cover">
								<!-- <span class="more">{{ i18n "recent_works_click_text" }} &rarr;</span> -->
							</span>
						</span>
					</a>
				</div>

			</ul>
			<ul>

				<div>
					<a class="thumbnail">
						<span class="img">
							<img src="../../images/s1.png" alt=""
								style="object-fit: contain; object-position: center; height: 200px; width: 200px;">
							<span class="cover">
								<!-- <span class="more">{{ i18n "recent_works_click_text" }} &rarr;</span> -->
							</span>
						</span>
					</a>
				</div>

			</ul>
			<ul>

				<div>
					<a class="thumbnail">
						<span class="img">
							<img src="../../images/sql.png" alt=""
								style="object-fit: contain; object-position: center; height: 200px; width: 200px;">
							<span class="cover">
								<!-- <span class="more">{{ i18n "recent_works_click_text" }} &rarr;</span> -->
							</span>
						</span>
					</a>
				</div>

			</ul>
			<ul>

				<div>
					<a class="thumbnail">
						<span class="img">
							<img src="../../images/git-logo.png" alt=""
								style="object-fit: contain; object-position: center; height: 200px; width: 200px;">
							<span class="cover">
								<!-- <span class="more">{{ i18n "recent_works_click_text" }} &rarr;</span> -->
							</span>
						</span>
					</a>
				</div>

			</ul>
		</center>
	</div> <!-- /container -->

</main>
{{ end }}