
<div style="justify-content: space-between; 
margin-bottom: 40px; 
display: flex;" class="row col-lg-12 interests">
    <span>
     New technologies
    </span>
    <span>
      Sci-fi books
    </span>
    <span>
      Blender
    </span>
    <span>
      Psychology
    </span>
    <span>
      Philosophy
    </span>
</div>

