<div class="row" style="display:flex; place-content: space-between; overflow-y: auto;">
  {{ range where .Data.Pages "Section" .Section }}
  <div class="col-sm-6 col-md-3">


    <h3 class="text-center">{{ .Title }}</h3>
    <span style="width:100%; display: flex;
    margin-top: -24px;
    align-items: center;
    place-content: center;" class="here-date">{{ .Params.dateRange }}</span>
    <p>{{ .Summary }}</p>
    <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
  </div>
  {{ end }}
</div>