<nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ .Name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        
                        {{ range .Children }}
                        <li>
                            

                            <a href="{{ .URL }}"  {{ if $.IsHome }} data-target="{{ .URL }}" {{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{ else }}
                <li>
                    <a href="{{ .URL | relLangURL }}" {{ if .Params.target }} target="_blank" {{end}}>{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end}}
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
