{{ define "main" }}
  <main id="main">
  
  	<div class="container">
  
  		<div class="row topspace profilepic-about-wrapper">
  
  			<!-- Sidebar -->
  			<aside class="col-sm-4 sidebar sidebar-right">
  
  				<div class="nav text-right nav-side profilepic-about">
					<img src="../../images/profilepicpink.png" class="profilepicpink"/>
					 
  				</div>
  
  			</aside>
  			<!-- /Sidebar -->
  
  			<!-- Article main content -->
  			<article class="col-sm-8 maincontent">
				{{ .Content }}
               
  			</article>
  			<!-- /Article -->
  
  
  		</div>
  	</div>	<!-- /container -->
  
  </main>
{{ end }}
